faiss-cpu
google-genai
groq
huggingface_hub
ipywidgets
langchain
langchain-google-genai
langchain-groq
langchain-openai
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
numpy
openai
pydantic
pypdf
pytest
python-dotenv
rank_bm25
rich
scikit-learn
sentence-transformers
transformers
